body {
    background-color: rgb(255, 255, 255);
}

/*header, footer {
    height: 80px;
    box-shadow: ;
}
main {
    background-color: rgb(129, 207, 200);
    height: calc(100vh - 160px);
    overflow-y: auto;
} */

